# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# testing
**/coverage

# production
**/build

# misc
**/.DS_Store
**/.env
**/*.log
.idea
.vscode

# docker for dev env/i dont want to install db locally
docker-compose.dev.yml
server/scripts